#gt_main {
  position: fixed;
  top: 100px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 99999999;
}

#gt_choices {
  
}

.gt_table {
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: black;
}

.gt_td {
  padding: 0px;
  margin: 0px;
}

.gt_tr {
  padding: 0px;
  margin: 0px;
}

.gt_choice {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  /* float: left; */
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 5px;
  background-color: white;
  color: black;
}